Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

*Exercise 3 - Create a markdown cell for an introduction*

In the following notebook, the Tools and Ecosystem for Data Science are summarized

**Objectives:**
- List popular languages for Data Science
- List commonly used Data Science libraries used 
- List some Data Science Tools
- Understand Arithmetic operations in Python

*Exercise 4 - Create a markdown cell to list data science languages*

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia
6. Scala

*Exercise 5 - Create a markdown cell to list data science libraries*

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow
2. Pandas
3. NumPy
4. Matplotlib
5. SciPy
6. Keras

*Exercise 6 - Create a markdown cell with a table of Data Science tools*

| Data Science Tools |
| ----- |
| Jupyter |
| Apache Zeppelin |
| R Studio |

*Exercise 7 - Create a markdown cell introducing arithmetic expression examples*

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# Addition '+', Subtraction '-'
# Multiplication '*', Division '/'
# Modulus(remainder) '%', Power '**'
print("Num1 = 9, Num2 = 3")
print("Addition: "+ str(9+3))
print("Subtraction: "+ str(9-3))
print("Multiplication: "+ str(9*3))
print("Division: "+ str(9/3))
print("Modulus: "+ str(9%3))
print("Power: "+ str(9**3))

Num1 =9, Num 2=3
Addition: 12
Subtraction: 6
Multiplication: 27
Division: 3.0
Modulus: 0
Power: 729

*Exercise 8 - Create a code cell to multiply and add numbers*

In [15]:
#This is a simple arithmetic expression to mutiply then add integers
print((3*4)+5)

17

*Exercise 9 - Create a code cell to convert minutes to hours*

In [13]:
# This will vonvert 200 minutes to hours by dividing by 60
print("Minutes= 200 ")
print("Hours = " +str(200/60))

Minutes= 200
Hours = 3.3333333333333335

*Exercise 10 - Insert a markdown cell to list Objectives*

For this exercise we had to insert a mardown cell below the introduction cell created in exercise 3, mentioning the objectives in bold font, followed by an unordered list of items.

*Exercise 11 - Create a markdown cell to indicate the Author's name*

## Author
Roshan Hajra